.sidebar {
    min-width: 240px;
    margin-right: 2rem;
    margin-top: 2rem;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 96%;
    width: 96%;
}

.main {
    width: 100%;
    overflow: hidden;

    :global .add-activity-button {
        margin: 1rem;
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

@media (min-width: 992px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        margin-top: 0;
    }
}