@import 'styling/variables';

body {
    margin: 0;
    background-color: $light;

    &, & button, & input {
      font-size: $font-base;
      font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  p {
    max-width: 460px;
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
  }

  #root, body, html {
    width: 100%;
    height: 100%;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  input:-webkit-autofill,
  input:autofill {
    background-color: initial;
    border: initial;
  }