@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "styling/variables";

body {
  margin: 0;
  background-color: $light;

  &,
  & button,
  & input {
    font-size: $font-base;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

p {
  max-width: $text-width;
  margin-top: 0;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:-webkit-autofill,
input:autofill {
  background-color: initial;
  border: initial;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: $primary-light;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: darken($primary-light, 15);
}
::-webkit-scrollbar-track {
  background: darken($light, 2);
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px darken($light, 2);
}
