@import 'styling/variables';

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.preLine {
	white-space: pre-line;
}

.column {
    flex-direction: column;
}

.m0 {
    margin: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.srOnly {
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.text-dark {
    color: $dark;
}

.text-gray {
    color: $gray;
}

.text-primary,
.text-strong {
    color: $primary;
}

.text-success {
    color: $success;
}

.text-danger,
.text-heavy {
    color: $danger;
}

.text-light {
    color: $primary-light;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }