.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.column {
    flex-direction: column;
}

.mt0 {
    margin-top: 0;
}