$white: #FFF;
$light: #F5F6FA;
$primary: #4856F4;
$primary-light: #DEE4FF;
$success: #389859;
$danger: #ce1500;
$warning: #c9b500;
$dark: #292929;
$gray: #6A6A6A;
$faded: #CECECE;
$faded-light: #f0f0f0;
$accent: #FF6F00;

$font-small: 0,85rem;
$font-base: 1rem;
$font-medium: 1.25rem;
$radius-base: 0.4rem;
$shadow: 0.25rem 0.25rem 0.5rem rgba($dark, 0.10);

$gap: 0.5rem;
$text-width: 460px;