$white: #FFF;
$light: #F5F6FA;
$primary: #4856F4;
$primary-light: #DEE4FF;
$success: #389859;
$danger: #FF4E3A;
$dark: #292929;
$gray: #6A6A6A;
$faded: #CECECE;

$font-base: 1.1rem;
$radius-base: 0.4rem;
$shadow: 0.25rem 0.25rem 0.5rem rgba($dark, 0.10);