@import 'styling/variables';

.container {
    background-color: $white;
    border-radius: 0 1rem 1rem 0;
    margin-bottom: $gap;
    position: relative;
}

.truncate {
    padding: 0.25rem 1rem 0.75rem;
}

.time,
.name {
    display: block;
}

.time {
    color: $gray;
    user-select: none;
    padding: 0.75rem 1rem 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    background-color: $white;

    .change {
        display: flex;
        margin-left: auto;
        button:not(:last-child) {
            margin-right: 0.25rem;
        }
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    color: $gray;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:focus {
        outline: 2px solid $primary-light;
    }
}

.delete {
    color: $danger;
}
