@import 'styling/variables';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    border: none;
    border-radius: $radius-base;
    cursor: pointer;
    margin: 0.5rem 0;
    text-decoration: none;
    box-shadow: $shadow;
    background-color: $white;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
        background-color: darken($color: $primary, $amount: 10);
        color: $white;
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover,
        &:focus {
            background-color: initial;
            color: inherit;
        }
    }
}

.success {
    background-color: $success;
    color: $white;

    &:hover,
    &:focus {
        background-color: darken($color: $success, $amount: 10);
        outline: none;
    }
}

.danger {
    background-color: $danger;
    color: $white;

    &:hover,
    &:focus {
        background-color: darken($color: $danger, $amount: 20);
        outline: none;
    }
}

.light {
    background-color: $primary-light;

    &:hover,
    &:focus {
        background-color: darken($color: $primary-light, $amount: 20);
        outline: none;
    }
}

.google {
    background-color: $light;
    color: $gray;

    &:hover,
    &:focus {
        background-color: $primary;
        outline: none;
    }
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}