@import 'styling/variables';

.card {
    max-width: 30rem;
    margin: 1rem;
    background-color: $white;
    border-radius: $radius-base;
    box-shadow: $shadow;
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}