@import 'styling/variables';

.card {
    max-width: 30rem;
    margin: 1rem;
    background-color: $white;
    border-radius: 0.4rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba($dark, 0.10);
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}