@import "../styling/variables.scss";

.container {
  background-color: $white;
  border-radius: $radius-base;
  overflow: hidden;
  margin-bottom: $gap;
}

.collapse {
  display: flex;
  overflow: hidden;
}

.button {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0.75rem 1rem;
  font-size: $font-small;
  width: 100%;
  background-color: $faded-light;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $faded-light;
  }

  svg {
    flex-shrink: 0;
    margin-left: 0.25rem;
    transition: transform 0.2s ease;
  }
}

.activeButton, .activeButton:focus {
  background-color: $faded-light;
}

.open {
  transform: rotate(180deg);
}

.content {
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  background-color: $faded-light;
}
