@import 'styling/variables';

$spacing: $gap * 2;

.header,
.content,
.actions {
    padding: $spacing;
}

.header {
    display: flex;
    border-bottom: 1px solid $faded;

    h2 {
        max-width: $text-width;
        margin-bottom: 0;
        font-size: $font-medium;
        padding-right: 2rem;
    }
}

.icon {
    font-size: $font-medium;
    position: relative;
    top: 3px;
    margin-right: 0.75rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $faded;
    padding: 0 $spacing;

    button {
        margin-left: $gap;
        box-shadow: none;
    }
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    padding: $gap;
    color: $danger;
    cursor: pointer;
    width: 35px;
    height: 35px;
}