
@use "sass:math";
@import 'styling/variables';

.button {
    background: none;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
    padding: $gap;
    margin: 0 math.div($gap, 2);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &:focus {
        outline: 1px solid $faded;
    }
}