@import 'styling/variables';

.wrapper {
    display: flex;
    flex-direction: column;
}

.label {
    color: $dark;
    font-weight: 700;
    margin: 0.75rem 0 0.25rem 0;
}

.input {
    padding: 0.75rem 0.5rem;
    border: none;
    border-bottom: 1px solid $faded;
    margin: 0.25rem 0 0.75rem 0;

    &:focus {
        outline: none;
        border-color: $dark;
    }
}