@import "styling/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 0rem 1rem;

  img {
    width: 75px;
  }
}

.buttons {
  display: flex;

  a,
  button {
    margin-left: 0.5rem;
  }
}
