@import 'styling/variables';

.tab {
    flex-grow: 1;
    padding: 1rem;
    border-radius: $radius-base $radius-base 0 0;
    color: $dark;
    text-align: center;
    text-decoration: none;
}

.active {
    background-color: $white;
    color: $primary;
    font-weight: bold;
}