@import 'styling/variables';

.fields {
    display: flex;
    align-items: center;
    margin-bottom: $gap;

    input {
        width: 100%;
        padding: 0.25rem;
        color: $dark;

        &:focus {
            outline-color: $primary-light;
        }
    }

    span {
        display: inline-block;
        margin: 0 $gap * 2;
    }
}

.time {
    border: none;
    border-bottom: 1px solid $faded;

    &::-webkit-calendar-picker-indicator {
        color: $primary-light;
        // filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
     }
}

