@import '../styling/variables.scss';

.container {
    position: relative;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        .text {
            transform: translateX(-100%);
            transition: transform 5s linear;
        }
    }
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s linear;
    transform: translateX(0);
}

.nowrap {
    white-space: nowrap;
}