@import "../styling/variables.scss";

.date {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: $gap;

  .heading {
    font-size: $font-large;

    span {
        display: inline-block;
        word-break: keep-all;
    }
  }

  .actions {
    display: flex;
    margin-bottom: 1rem;

    button {
      margin-left: 0.5rem;
      span {
        margin: 0;
      }
    }
  }

  @media (min-width: $breakpoint) {
    .heading {
      font-size: $font-extra;
    }
  }
}
